  .CFUserTextEncoding
  .DS_Store
  .Trash/
  .bash_history
  .bash_profile
  .bash_sessions/
  .cache/
  .config/
  .gitconfig
  .npm/
  .nvm/
  .oh-my-zsh/
  .rnd
  .ssh/
  .v8flags.4.5.103.35.da0805fa67e7354b3ff51056f2a72cbb.json
  .viminfo
  .zcompdump-C02V30P3HTDD-5.2
  .zcompdump-C02V30P3HTDD-5.3.1
  .zsh-update
  .zsh_history
  Applications/
  Desktop/
  Documents/
  Downloads/
  Library/
  Movies/
  Music/
  Pictures/
  Public/
  iCloud Drive (Archive)/